<ion-view>
  <ion-content class="content-bg" scroll="false">

    <div style="text-align: center">
      <table style="width: 100%; margin-top: 10%">
        <tr>
          <td><img  id="cabeloEncaracolado" ng-click="onClickSelecaoCabelo(CABELO_ENCARACOLADO)" class="size-cabelo" src="img/cabelo/encaracolado.png"></td>
          <td><img  id="cabeloCastanho" ng-click="onClickSelecaoCabelo(CABELO_CASTANHO)" class="size-cabelo" src="img/cabelo/castanho.png"></td>
        </tr>
        <tr>
          <td style="padding-top: 10px"><img id="cabeloPreto" ng-click="onClickSelecaoCabelo(CABELO_PRETO)" class="size-cabelo" src="img/cabelo/preto.png"></td>
          <td style="padding-top: 10px"><img  id="cabeloRuivo" ng-click="onClickSelecaoCabelo(CABELO_RUIVO)" class="size-cabelo" src="img/cabelo/ruivo.png"></td>
        </tr>
      </table>

      <img ng-click="onClickAvancar()" style="margin-top: 20px" class="icone-seta" src="img/seta/seta.png">
    </div>

  </ion-content>
</ion-view>
