<ion-view>
  <ion-content class="content-bg" scroll="false">

    <div style="text-align: center">
      <table style="width: 100%; margin-top: 10%">
        <tr>
          <td><img ng-click="onClickSelecaoTomPele(PELE_PARDA)" class="size-pele" src="img/pele/pele_parda.png"></td>
        </tr>
        <tr>
          <td style="padding-top: 10px"><img ng-click="onClickSelecaoTomPele(PELE_BRANCA)" class="size-pele" src="img/pele/pele_branca.png"></td>
        </tr>
        <tr>
          <td style="padding-top: 10px"><img  ng-click="onClickSelecaoTomPele(PELE_NEGRA)" class="size-pele" src="img/pele/pele_negra.png"></td>
        </tr>
      </table>
      <img ng-click="onClickAvancar()" style="margin-top: 20px" class="icone-seta" src="img/seta/seta.png">
    </div>

  </ion-content>
</ion-view>
