<ion-view>
  <ion-content class="content-bg" scroll="false">

    <div style="text-align: center">
      <table style="width: 100%; margin-top: 10%">
        <tr>
          <td><img id="camisaAmarela" ng-click="onClickSelecaoCamisa(CAMISA_AMARELA)" class="size-camisa" src="img/camisa/amarela.png"></td>
        </tr>
        <tr>
          <td style="padding-top: 25px"><img id="camisaVermelha" ng-click="onClickSelecaoCamisa(CAMISA_VERMELHA)" class="size-camisa" src="img/camisa/vermelha.png"></td>
        </tr>
        <tr>
          <td style="padding-top: 25px"><img id="camisaAzul"  ng-click="onClickSelecaoCamisa(CAMISA_AZUL)" class="size-camisa" src="img/camisa/azul.png"></td>
        </tr>
      </table>
      <img ng-click="onClickAvancar()" style="margin-top: 20px" class="icone-seta" src="img/seta/seta.png">
    </div>

  </ion-content>
</ion-view>
