.content-bg{
  background: url("../img/background/bgPink.jpg");
  background-size: 100% 100%;
}

.balcao{
  width: 375px;
  height: 100px;
  background-size: 100%;
}

.opcaoAcessorio{
  width: 100px;
  height: 100px;
}


/**
 * Tela - Inicial
 */
.iconeInicial{
  width: 80%;
}
.titulo{

  text-align: center;
  color: white;
  font-size: 48px;
  font-weight: bold;
  padding-top: 40px;
}
.sub-titulo{

  text-align: center;
  color: #E91E63;
  font-size: 22px;
  font-weight: bold;
  padding-top: 30px;
}

/**
 * Tela - Seleção do Tom da Pele
 */
.size-pele{
  width: 110px;
}

/**
 * Tela - Seleção do Cabelo
 */
.size-cabelo{
  width: 140px;
  padding: 10px;
}

/**
 * Tela - Seleção da Camisa
 */
.size-camisa{
  width: 140px;
}


.icone-seta{
  width: 80px;
}
