.content-bg{
  background: url("../img/background/bgPink.jpg");
  background-size: 100% 100%;
}

.balcao{
  width: 375px;
  height: 100px;
  background-size: 100%;
}

.opcaoAcessorio{
  width: 80px;
  height: 80px;
}


/**
 * Tela - Inicial
 */
.iconeInicial{
  width: 80%;
}
.titulo{

  text-align: center;
  color: white;
  font-size: 48px;
  font-weight: bold;
  padding-top: 40px;
}
.sub-titulo{

  text-align: center;
  color: #E91E63;
  font-size: 22px;
  font-weight: bold;
  padding-top: 30px;
}

/**
 * Tela - Seleção do Tom da Pele
 */
.size-pele{
  width: 110px;
}

/**
 * Tela - Seleção do Cabelo
 */
.size-cabelo{
  width: 140px;
  padding: 10px;
}

/**
 * Tela - Seleção da Camisa
 */
.size-camisa{
  width: 140px;
}


.icone-seta{
  width: 80px;
}

.glowEffect{
  -webkit-filter: drop-shadow(12px 5px 10px #c939f1);
}

.cabeloEncaracolado{

  width: 120%;
  position: absolute;
  left: -9%;
  /*z-index: 300;*/
}

.cabeloPreto{
  width: 100%;
  position: absolute;
  left: 6px;
  top: 19px;
}

.cabeloCastanho{
  width: 94%;
  position: absolute;
  left: 17px;
  top: 12px;
  /*z-index: 300;*/
}

.cabeloRuivo{
  width: 87%;
  position: absolute;
  left: 33px;
  top: 28px;
  /*z-index: 300;*/
}


.blushGlowPink{
  -webkit-filter: drop-shadow(12px 5px 10px #ea68c3);
}

.blushGlowOrange{
  -webkit-filter: drop-shadow(12px 5px 10px #ef7929);
}

.blushGlowRed{
  -webkit-filter: drop-shadow(12px 5px 10px #e54642);
}


.batomGlowPink{
  -webkit-filter: drop-shadow(12px 5px 10px #ea68c3);
}

.batomGlowOrange{
  -webkit-filter: drop-shadow(12px 5px 10px #ef7929);
}

.batomGlowRed{
  -webkit-filter: drop-shadow(12px 5px 10px #e54642);
}

.batomGlowPurple{
  -webkit-filter: drop-shadow(12px 5px 10px #B61FDB);
}



